

#gridspacingtest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 1fr 2fr;
    max-height: auto;
    max-width: 1368px;
}

.tile-neck {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}

.tile-body {
    display: grid;
    grid-column: 2;
    grid-row: 2 / 4;
    align-content: top;
}

.tile-sleevetestleft {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    justify-content: right;
}

.tile-sleevetestright {
    display: grid;
    grid-column: 3;
    grid-row: 1 / 3;
    justify-content: left;
}