#gridtest {
    display: grid;
    grid-template-columns: 456px 456px 456px;   

    grid-template-rows: 456px 456px 456px;

    /* grid-template-areas:  . a .
				         b c d; */

}

.tile-neckround {
    display: grid;
    grid-column: 2;
    place-content: baseline;
    align-content: space-around;
    margin-top: auto;
}

.tile-sleeveleft {
    display: grid;
    grid-row: 2;
    grid-row: 1;
    grid-column: 1;
    /* align-items: center; */
    justify-content: end;
    justify-items: start;
    margin-top: auto;
    padding: 140px 0;
}

.tile-bodylong {
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

.tile-sleeveright {
    display: grid;
    grid-row: 1;
    grid-column: 3;

    justify-content: end;
    margin-right: auto;
    padding: 134px 0;

    border: 1px solid pink;
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, 200px);
  }
