/* \\---  Global variables  ---// */

html, body {
    overflow: auto;
    padding: 0;
    margin: auto;
    flex-wrap: wrap;
}




/* \\---  Header & Navigation  ---// */

#makeuseheader {
    display: flex;
    height: 200px;
    padding: 0;
    left: 0;
    margin-bottom: 50px;
    /* box-shadow: 
        0 2px 1px rgba(0,0,0,0.09), 
        0 4px 2px rgba(0,0,0,0.09), 
        0 8px 4px rgba(0,0,0,0.09), 
        0 16px 8px rgba(0,0,0,0.09),
        0 32px 16px rgba(0,0,0,0.09); */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    max-width: 100%;
    margin: 0 auto;
    background-color: #4a494a;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items:center;
    text-align: center;
    top: 122px;
    margin: 0 auto;
    padding: 0 33vw 0 33vw;
    max-width: 100%;
}

nav .navbar .navbar-custom {
    max-width: 100%;
}

.navbar .navbar-brand {
    display: block;
    margin: auto;
}

.navbar .navbar-brand img {
    justify-self: center;
    padding-left: 15px;
    width: 200px;
    height: 78.26px;
}

#logo-hover {
    z-index: 400;
    display: none;
    left: auto;
}

.navbar .nav-item a {
    padding-left: 20px;
    justify-self: right;
}

/* \\---  Fonts  ---////////////////////////////// */

body {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}

.template-intro {
    /* background-color: #b7b3a7; */
    color: #5c5c5c;
    align-content: top;
    line-height: 1.8rem;
   
}

/* \\---  Link Styles  ---////////////////////////////// */

.navbar .nav-item a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: color .2s ease-in-out;
    font-weight: 700;
    color: #fffefe;
    margin-right: 5px;
    font-size: 14px;
}

.navbar .nav-item a:hover {
    color: #ffb100;
}

/* \\---  Colors  ---///////////////////////////// */

.t-light {
    color: #fffefe;
}

.t-dark {
    color: #5c5c5c;
}

.t-gray {
    color: #888;
}

.bg-dark-slate {
    background-color: RGB(40, 38, 39);
}

.header-nav .header-nav__link:active {
    color: #ffd066;
}

.bg--slate, .color--slate,
.breadcrumb {
    background-color: #4a494a;
}

.bg--silver, .color--silver {
    background-color: #d7d7d7;
}
.bg--sand {
    background-color: #b7b3a7;
}
.bg--orange, .color--orange {
    background-color: #d46300;
}

/* \\---  Body Layout  ---// */


/* \\---  Garment Grid  ---/////////////////////// */

#garment-grid-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 1fr 2fr;
    max-height: auto;
    margin: 0 0 -30px 0;
}

.tile-neck {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}

.tile-body {
    display: grid;
    grid-column: 2;
    grid-row: 2 / 4;
    align-content: top;
}

.tile-sleevetestleft {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    justify-content: right;
}

.tile-sleevetestright {
    display: grid;
    grid-column: 3;
    grid-row: 1 / 3;
    justify-content: left;
}

/* \\---  Pattern Template Downloads  ---////////////////////////////// */

#downloadwrapper > .row {
    padding: none;
    justify-content: center;
    display: flex;
    align-content: center;
}

#downloadwrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
}

#downloads {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1fr;
    padding: 20px 15px 50px 15px;
}

.fabricsize {
    margin-top: 20px;
    color: #e9e7e7;
}

#patternThumbWide,
#patternThumbCollar,
#patternNeckRound > a,
#patternNeckWide > a {
    display: none;
}

.patternThumb img {
    padding: 10px;
}

.patternThumb {
    padding: 0 20px 38px 20px;
}

.patternThumb:hover img {
    filter: opacity(55%);
}

.patternThumb a {
    display: inline-flex;
    padding: none;
    background-color:#ffd066;
    border: 1px solid #d4b467;
    transition: ease-in-out 50ms;
    box-shadow: 
        0 2px 1px rgba(0,0,0,0.09), 
        0 4px 2px rgba(0,0,0,0.09), 
        0 8px 4px rgba(0,0,0,0.09), 
        0 16px 8px rgba(0,0,0,0.09),
        0 32px 16px rgba(0,0,0,0.09);
}

#tshirtGridPattern,
#patternTshirtGrid,
#patternNecklineRound,
#patternNecklineCollar,
#patternNecklineWide,
#patternSleeveCutLeft,
#patternSleeveCutRight {
    padding: 4px 4px 4px 4px;
}

.thumbs {
    background-color:#ad750b;
    background-color:#c9a96f;
}

h5 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.table-responsive-lg {
    color:#fffefe;
    justify-content:space-between;
    margin: 15px 20px 15px 20px;
    margin: auto auto 0px auto;
    max-width: 85%;
    padding: 10px 20px 20px 20px;
}

.table-responsive-lg td, 
.table-responsive-lg th {
    border: none;
    font-size: 14px;
    text-align: center;
    color:#fffefe;
}

tr {
    line-height: 34px;
}

th, td {
    background-color: #c8c5b5;
}


input {
    border: none;
    text-align: center;
    padding-left: 20px;
    border-radius: 3px;
    background-color: #c8c5b5;
    background-color:  #e9e7e7;
}

.directions {
    color:#fffefe;
    margin-left: 30px;
    font-size: 18px;
}

#garmentInfoForm h5 {
    color:#fffefe;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
    padding: 30px 0 20px 0;
    display: flex;
}

/* /////////////////////////////////////////////////////////// */

/* \\---  Animations  ---// */

/* \\---  Media Queries  ---// */


@media (min-width: 576px) {


    #makeuseheader {
        background-color: rgb(40, 38, 39);
        display: flex;
     
        margin: 0 auto;
        height: 153px;
    }

    nav {
        display: flex;
        flex-direction: row;
        /* min-width: 100vw; */
        max-width: 1024px;
        margin: 0 auto;
        justify-content: center;
    }

    .navbar {
        background-color: rgb(40, 38, 39);
        background-color: #4a494a;
        display: flex;
        flex-direction: row;
        max-width: 1024px;
        justify-self: center;
        position: absolute;
        height: 153px;
        left: 0;
        /* width: 100%; */
        padding: 20px 15px 50px 15px;
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        margin: 0 auto;
        width: 100%;
        padding: 20px 15px 50px 15px; 
        z-index: 1000;
    }

    nav .navbar .navbar-custom {
        justify-self: center;
    }

    .navbar .navbar-nav {
        padding: 0;
        display: flex;
        flex-direction: row;
        font-size: 14px;
        color: #fffefe;
        text-decoration: none;
        justify-content: flex-end;
        font-weight: 700;
        position: absolute;
        
        text-align: right;
        right: 15px;
        top: 78px;
        /* max-width: 1024px; */
    }

    .navbar .navbar-brand {
        /* justify-content: flex-start; */
        margin: auto auto auto 0;
    }
    
    #garment-grid-wrapper {
        margin: 0 0 -80px 0;
    }

    }


@media (min-width: 992px) { 
    html {
        min-width: 960px;
        overflow: auto;
    }
}

/* // Medium devices (tablets, 768px and up)

@media (min-width: 768px) { */
/* 
// Large devices (desktops, 992px and up)


// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } 
 */
