body { 
    margin: 0;
    background-color:#4a494a;
    background-color: #ffb100;
}

.col-2 {
    border: 1px solid grey;
}

/*
.shape-wrapper {
    background: transparent;
    
    display: grid;
    position: fixed;
    top: 0px;
    width: 400px;
    height: 400px;
    place-items: center;
    z-index: 99;
    margin: 0 auto;
}
*/

.circle {
  margin-top: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: bounce .4s infinite alternate;
  
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.pinky {
    background-color: pink;
}

.turqey {
    background-color: turquoise;
    animation: bounce .7s infinite alternate;
}

.turqey:hover {
    background-color: pink;
}

.pinky:hover {
    background: turquoise;
}

:is(html) .shape-wrapper .turqey:hover {
    background-color: darkgrey;
}

.gridtest {
    display: block;
    height: 200px;
    width: 200px;
    /*border: 1px solid grey; */
    padding: 0;
}

.gridlock {
    margin-top: 150px;
    width: 600px;
    height: 600px;
}

.gridtiles {
    display: flex;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    align-self: center;
    justify-self: center;
}

#topleft,
#topright,
#midcenter,
#btmleft,
#btmright {
    background-color: #d47f34;
}

#topcenter,
#midleft,
#midright,
#btmcenter {
    background-color: #d46300;
}

