/* .row {
    margin: 0;
    padding: 0;
} */

/* html {
    display: flex;
    width: 100vw;
    justify-content: center;
} */

.mu-dark-slate {
    background-color: RGB(40, 38, 39);
}

.t-light, .header-nav, .header-nav__link {
    color: #fffefe;
}

.t-light a, .t-light a:hover {
    color: #FFF;
}

.t-dark {
    color: #5c5c5c;
}

.t-gray {
    color: #888;
}

.bg--slate, .color--slate,
.breadcrumb {
    background-color: #4a494a;
}

.bg--silver, .color--silver {
    background-color: #d7d7d7;
}
.bg--sand, .color--sand {
    background-color: #b7b3a7;
}
.bg--orange, .color--orange {
    background-color: #d46300;
}
.bg--gold, .color--gold,
.header-nav__link:hover {
    background-color: #ffb100;
} 

.header-nav .header-nav__link:active {
    color: #ffd066;
}

/* makeuse specific styles end
--------------------------------------- */

body { 
    /* color: #5c5c5c;  */
    scroll-behavior: smooth;
    position: absolute;
    background-color: #4a494a;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    max-width: 1024px;
    margin: 0 10px;;
}

#croptshirt-from-template {
    display: flex;
    width: 100vw;
    position: relative;
    top:  153.27px;
}

#makeuseheader {
    display: block;
    
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    /* width: 100vw; */
    height: 153.27px;

    padding: 0 0 60px 0;
    background-color: rgb(43, 43, 43);
    background-color: #4a494a;
    background-color: rgb(40, 38, 39);
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
          0 4px 2px rgba(0,0,0,0.09), 
          0 8px 4px rgba(0,0,0,0.09), 
          0 16px 8px rgba(0,0,0,0.09),
          0 32px 16px rgba(0,0,0,0.09);
}

nav {
    margin: auto;
}

.navbar {
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 20px 15px 50px 15px;
    /* background-color: rgb(40, 38, 39); */
    max-width: 1024px;
}

.navbar-brand img {
    padding-left: 15px;
    width: 200px;
    height: 78.26px;
}

#logo-hover {
    z-index: 400;
    display: none;
    left: auto;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-items: right;
    justify-content: flex-end;
    font-size: 14px;
    color: #fffefe;
    text-decoration: none;
    font-weight: 700;
    position: absolute;
    width: 100vw;
    right: 32px;
    top: 78px;
}

.navbar-nav .nav-item a {
    padding-left: 20px;
    justify-self: right;
    z-index:3000;
}

.nav-item:hover {
    color: #FFB100;
}

a {
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
    transition: color .2s ease-in-out;
    font-weight: 700;
}

h1 {
    color: #fffefe;
}

li, li a, a {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 5px;
}

/* #garmentgrid {
    display: inline-grid;
    grid-template-columns: 122px 149px 123px;
    grid-template-rows: 398px 0px;
    grid-template-areas: "a b c"
                         ". d .";
    z-index: 100;
    height: 399px;
    width: 100vw;
    place-self: center;
    padding: 0;
} */

#garmentgrid {
    display: inline-grid;
    grid-template-columns: 122px 149px 123px;
    grid-template-rows: 398px 0px;
    grid-template-areas: "a b c"
                         ". d .";
    z-index: 100;
    height: 399px;
    /* width: 100vw; */
    place-self: center;
    padding: 0;
    
    /* max-width: 1024px; */
    flex-direction: column;
    margin: 30px auto 0 30px;
    width: fit-content;
    /* z-index:2000; */
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
          0 4px 2px rgba(0,0,0,0.09), 
          0 8px 4px rgba(0,0,0,0.09), 
          0 16px 8px rgba(0,0,0,0.09),
          0 32px 16px rgba(0,0,0,0.09);
}

#gridwrapper {
    display: flex;
    /* width: 100vw; */
    /* max-width: 1024px; */
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    /* background-color: rgb(43, 43, 43); */
    position: absolute;
    left: 0;
    top:400px;
    height: fit-content;
    margin: 0 auto;
    /* z-index: 400; */
    top: 240px;
    
}

#croptshirt-from-template {
    width: 100vw;
    left: 0;
    margin: 0 auto;
    display: flex;
    position: absolute;
}

.fabricneeds p {
    display: block;
    /* border: 1px solid green; */
    color: #e9e7e7;
    position: fixed;
    z-index: 5000;
    height: 60px;
    width: 200px;
    top: 500px;
    left: 100px;
}

#bodytile {
    display: flex;
    margin-bottom: 107px;
    align-items: center;
    grid-area: d;
}

/* #necktile {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: b;
    background-color: #747169
}

#leftsleevetile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 157px;
    background-color: rgba(212, 99, 0, 98%);
}

#rightsleevetile {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 157px;
    padding-right: 4px;
    background-color: rgba(255, 177, 0, 98%);
} */

#necktile {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: b;
    background-color: #747169;
    background-color: #cfbf9a;
    background-color: rgba(40, 38, 39, 0.685)
    /* border: 1px solid grey; */
}

#leftsleevetile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 157px;
    background-color: rgba(212, 99, 0, 98%);
    /* border: 1px solid grey; */
}

#rightsleevetile {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 157px;
    padding-right: 4px;
    background-color: rgba(255, 177, 0, 98%);
    /* border: 1px solid grey; */
}

#neckcollar,
#neckwide,
#neckcollarHover,
#neckroundHover,
#neckwideHover,
#bodyhip, #bodylong,
#leftsleevenarrowshort,
#leftsleevenarrowlong,
#leftsleevewidelong,
#rightsleevenarrowshort,
#rightsleevenarrowlong,
#rightsleevewidelong,
#patternThumbWide,
#patternThumbCollar,
#patternNeckRound > a,
#patternNeckWide > a {
    display: none;
}

#rightsleevenarrowshort {
    padding-top: 3px;
}

#leftsleevewideshort {
    padding-top: 9px;
}
#rightsleevewideshort {
    padding-top: 4px;
}

#leftsleevewidelong {
    padding-bottom: 8px;
}

#garmentgrid img {
    padding-bottom: 130px;
}

#garmentgrid #bodycropped,
#garmentgrid #bodylong,
#garmentgrid #bodyhip {
    padding-bottom: 198px;
}

#lowerlefttile {
    display: block;
    position: relative;
    /* background-color: #b7b3a7; */
    height: 202px;
    width: 394px;
    width: 100vw;
    color: #e9e7e7;
    left: 0;
}

#lowerlefttile > p {
    display: flex;
    width: 380px;
    height: 50px;
    left: 0;
    margin: 20px 10px 15px 10px;

    /* height: auto; */
    /* flex-direction: column; */
    align-content: flex-start;
    margin-bottom: 40px;
}

#whatYouNeed {
    display: block;
    color:#e9e7e7;
    flex-direction: column;
    max-width: 500px;
    line-height: 1.8rem;
    margin-top: 10%;
    text-align: left;
    justify-content: left;
}

.intro {
    padding: 8vw 8vw 0 8vw;
}

.intro h5 {
    line-height: 1.5em;
}

.instructions ul {
    margin: 8px 0px 16px 0px;
    line-height: 24px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#downloadwrapper > .row {
    width: 1fr;
    padding: 30px 20px 30px 20px;
    position: absolute;
    left: 0;
    top: 153.24px;
    justify-content: center;
}

#downloadwrapper {
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-content: center;
    justify-items: center; */
    /* position: relative; */
    /* position: fixed; */
    z-index: 110;
    /* top: 600px; */
    max-height: 210px;
    /* left: 0; */
    top: 153.28;
    /* left: 0; */
    width: 100vw;
    /* padding: 0 20% 0 20%;
    margin: 0 auto; */
    margin: 0 auto;
}

#downloads {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 20px 15px 50px 15px;
    /* width: 100vw; */
}

.patternThumb img {
    max-height: 190px;
    padding: 10px;
}

.patternThumb:hover img {
    filter: opacity(55%);
}

.patternThumb a {
    display: inline-flex;
    /* display: flex; */
    padding: none;
    background-color:  #ffd066;
    border: 1px solid #d4b467;
    transition: ease-in-out 50ms;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
              0 4px 2px rgba(0,0,0,0.09), 
              0 8px 4px rgba(0,0,0,0.09), 
              0 16px 8px rgba(0,0,0,0.09),
              0 32px 16px rgba(0,0,0,0.09);
}

#tshirtGridPattern,
#patternTshirtGrid,
#patternNecklineRound,
#patternNecklineCollar,
#patternNecklineWide,
#patternSleeveCutLeft,
#patternSleeveCutRight {
    padding: 4px 4px 4px 4px;
}

.thumbs {
    background-color:#ad750b;
    background-color:#c9a96f;
}

h5 {
    padding-top: 10px;
    padding-bottom: 5px;
}

#tablewrapper {
    margin: 0 auto;
    height: fit-content;
    padding: 10px 0 15px 0;
    background-color: #5c5c5c;
}

table {
    color:#fffefe !important;
    border-collapse: collapse;
    justify-content: space-between;
    justify-items: space-between;
    width: 100vw;
    margin: 0 auto 0 0px;
    padding: 35px 0 40px 50px;
    display: flex;
    flex-direction: column;
}

#currentStyleTable {
    color:#fffefe;
}

#customStyleTable {
    color:#fffefe;
    padding: none;
    right: 0;
}

table th {
    padding-bottom: 15px;
}

td, th {
    border: none;
    margin: none;
    padding: none;
    font-size: 14px;
}

tr {
    line-height: 36px;
}

td {
    padding-right: 15px;
}

input {
    border: none;
    text-align: center;
    width: 50%;
    margin-left: 50%;
    border-radius: 8px;
}

.directions {
    color:#fffefe;
    margin-left: 30px;
    font-size: 18px;
}

#garmentInfoForm h5 {
    color:#fffefe;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
    padding: 30px 0 20px 0;
    display: flex;
}

#garmentgrid {
    left: 0;
}

.instructions  {
    /* padding: 15px 150px 20px 15px; */
    line-height: 32px;
    overflow: auto;
}

.instructions h5 {
    padding: 50px 30px 45px 30px;
    color: #fffefe;
    line-height: 36px;
}

.instructions ul li {
    padding-bottom: 16px;
    color: #fffefe;
}

.instructions ul {
    overflow: auto;
    height: 100%;
    z-index: 2;
    /* padding-right: 40px; */
}

/* Media Query for centering site logo and nav below 600w */

@media (max-width: 600px) { 

    body {
        display: flex;
        width: 100vw;
        justify-content: center;
        left: 0;
    }

    html { 
        display: flex;
        justify-content: center;
    }

    nav {
        display: inline-flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        position: absolute;
        width: 100vw;
        left: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items:center;
        text-align: center;
        top: 122px;
        width: 100vw;
        left: 0;
        padding: 0 33vw 0 33vw;
    }

    .navbar-brand {
        padding-right: 16px;
    }


    .navbar-nav .nav-item a {
        padding: 0;
    }


    header {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
    }

    /* nav {
        display: flex;
        justify-items: center;
        justify-content: center;
        width: 100%vw;
        left: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        top: 122px;
    } */

    .navbar-brand {
        width: 100vw;
        /* flex-direction: row; */
        display: flex;
        justify-content: center;
        left: 0;
    }

    #gridwrapper {
        border: 1px solid pink;
    }

    #downloadwrapper {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        position:absolute;
        left: 0;
        /* right: 0; */
        flex-direction: row;
        background-color: none;
        border: 1px solid yellow;
       
    }

    a {
        font-size: 14px;
    }

    html {
        background-color: none;;
    }
 }

@media (min-width: 960px) {

    /* #whatYouNeed {
        margin-top: 300px;
    } */

    #downloadwrapper {
        background-color: #b7b3a7;
    }
}
