body { 
    margin: 0;
    background-color:#4a494a;
    background-color: #ffb100;
    background-color: #9c998f;
    
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

li, li a {
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
    color: #b35402;
}

.col-2 {
    border: 1px solid grey;
}


.shape-wrapper {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}


.circle {
  margin-top: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: bounce .4s infinite alternate;
  
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.pinky {
    background-color: pink;
}

.turqey {
    background-color: turquoise;
    animation: bounce .7s infinite alternate;
}

.turqey:hover {
    background-color: pink;
}

.pinky:hover {
    background: turquoise;
}

:is(html) .shape-wrapper .turqey:hover {
    background-color: darkgrey;
}

.gridtest {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 300px;
    place-items: center;
    margin-top: 200px;
    padding: 0 5vw 0 5vw;
}

.gridimgtest1 {
    animation: bounce .4s infinite alternate;
}

.gridimgtest2 {
    animation: bounce .4s infinite alternate-reverse;
}

.gridlock {
    margin-top: 150px;
    width: 600px;
    height: 600px;
    background: url("assets/images/transparencypng-test.png");
}

.gridtiles {
    display: flex;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    align-self: center;
    justify-self: center;
}

#topleft,
#topright,
#midcenter,
#btmleft,
#btmright {
    background-color: #d47f34;
}

#topcenter,
#midleft,
#midright,
#btmcenter {
    background-color: #d46300;
}

#grid3 {
    display: flex;
    justify-self: center;
    width: 600px;
    height: 600px;
    background-color:#4a494a;
    padding: 0;
}

/* #centercolumn {
    justify-content: center;
    padding: 0;
} */

#flexend {
    display: flex;
    position: relative;
    top: 0;
}

#flexend:hover {
    background-color: bisque;
}

#testgrid {
    display: grid;
    padding: 0;
    position: fixed;
    top: 0;
    /* margin: auto 0; */
    height: 100vh;
    width: 100vw;
    /* grid-template-columns: 1fr 200px 1fr 200px 1fr 200px 1fr;
    grid-template-rows: 200px 200px 200px; */
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-content: center;
}

.cropt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: rgb(65, 64, 64);
    text-decoration: none;
}

.instructions {
    grid-column: 2;
    padding: 20px 110px 20px 45px;
}

.instructions h5 {
    padding: 20px 60px 20px 30px;
}

.instructions ul li {
    padding-bottom: 6px;
}

#garmentgrid {
  display: inline-grid;
  grid-template-rows: 260px 200px;
  grid-template-columns: 122px 149px 122px;
  grid-gap: 2px;
  position: fixed;
  top: 250px;
  left: 15vw;
  z-index: 1;
  background-color: #9c998f;
}

#necktile {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bodytile {
    display: flex;
    padding-bottom: 130px;
    align-items: center;
}

#leftsleevetile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-end;

    padding-top: 157px;
    /* background-color: black; */
}

#rightsleevetile {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 157px;
    padding-right: 5px;
}

#neckround,
#neckwide {
    display: none;
}

#bodyhip, #bodylong {
    display: none;
}

#leftsleevenarrowshort,
#leftsleevewidelong,
#leftsleevewideshort,
#rightsleevenarrowshort,
#rightsleevewidelong,
#rightsleevewideshort {
    display: none;
}

#lowerrighttile,
#lowerlefttile {
    z-index: -1;
}

#patterndownloads {
    display: block;
    position: absolute;
    width: 400px;
    height: 200px;
    bottom: 20px;
    left: 140px;
}

#patternNeckRound > a,
#patternNeckWide > a {
    display: none;
}

.linky {
    z-index: 100;
}